[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
gym = {extras = ["atari"],version = "*"}
ipython = "*"
jupyter = "*"
pytest = "==5.0.1"
imageio = "*"
tensorflow = "*"
logger = "*"
